<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>欢迎登陆---lkWeb</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/lib/layer/src/layer.js"></script>
    <script src="~/js/lkWeb.js"></script>
    <link href="~/css/login/css/base.css" rel="stylesheet" />

    <link href="~/css/login/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script type="text/javascript">
        $(function () {
            lkWeb.FormValidation($("#loginForm"), function () {
                lkWeb.GoAction("admin", "control", "index")
            }, "登陆成功")
            lkWeb.FormValidation($("#registerForm"), function () {
                lkWeb.GoAction("admin", "user", "login")
            }, "注册成功")
        })

        function Forget() {

        }
    </script>


    <style>
    </style>
</head>
<body>
    <div class="login">
        <form action="@Url.Action("Login")" method="post" role="form" id="loginForm">
            @Html.AntiForgeryToken()
            <div class="logo"></div>
            <div class="login_form">
                <div class="user">
                    <input type="text" class="text_value" id="txtUserName" name="UserName" placeholder="请输入登陆账户"
                           data-val="true" data-val-maxlength="用户名长度不能超过20个字符" data-val-maxlength-max="20"
                           data-val-minlength="用户名长度不能少于2个字符" data-val-minlength-min="2" data-val-required="用户名不能为空" />
                    <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                    <input type="password" class="text_value" id="txtPwd" name="Password" placeholder="请输入密码"
                           data-val="true" data-val-maxlength="密码长度不能超过20个字符" data-val-maxlength-max="20"
                           data-val-minlength="密码长度不能少于3个字符" data-val-minlength-min="2" data-val-required="密码不能为空" />
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <button type="submit" class="button">登录</button>
            </div>

            <div id="tip"></div>
            <div class="foot">
            </div>
        </form>
    </div>

    @*<div class="container">
            <div class="row row-centered">
                <div class="well col-md-6 col-centered">

                    <h2>欢迎登录</h2>
                    <form action="@Url.Action("Login")" method="post" role="form" id="loginForm">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="txtUserName" name="UserName" placeholder="请输入登陆账户"
                                       data-val="true" data-val-maxlength="用户名长度不能超过20个字符" data-val-maxlength-max="20"
                                       data-val-minlength="用户名长度不能少于2个字符" data-val-minlength-min="2" data-val-required="用户名不能为空" />
                                <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-md">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" id="txtPwd" name="Password" placeholder="请输入密码"
                                       data-val="true" data-val-maxlength="密码长度不能超过20个字符" data-val-maxlength-max="20"
                                       data-val-minlength="密码长度不能少于3个字符" data-val-minlength-min="2" data-val-required="密码不能为空" />
                                <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">登录</button>
                        </div>
                        <div class="form-group">
                            <a href="#" data-toggle="modal" data-target="#register">还没有账户？点击注册</a>
                            <br />
                            <a href="#" data-toggle="modal" data-target="#forgetPwd">忘记密码？</a>
                        </div>
                    </form>

                    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <form action="@Url.Action("Register")" method="post" role="form" id="registerForm">
                            @Html.AntiForgeryToken()
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">注册账户</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>输入您的注册账号.</p>
                                        <input type="text" name="UserName" placeholder="账号" autocomplete="off" class="form-control"
                                               data-val="true" data-val-maxlength="用户名长度不能超过20个字符" data-val-maxlength-max="20"
                                               data-val-minlength="用户名长度不能少于2个字符" data-val-minlength-min="2" data-val-required="用户名不能为空" />
                                        <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                                        <p>输入您的注册邮箱</p>
                                        <input type="text" name="Email" placeholder="邮箱" autocomplete="off" class="form-control"
                                               data-val-required="邮箱不能为空" data-val="true" />
                                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                        <p>输入您的密码</p>
                                        <input type="text" name="Password" placeholder="密码" autocomplete="off" class="form-control"
                                               data-val="true" data-val-maxlength="密码长度不能超过20个字符" data-val-maxlength-max="20"
                                               data-val-minlength="密码长度不能少于3个字符" data-val-minlength-min="3" data-val-required="密码不能为空" />
                                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                        <p>再次输入密码</p>
                                        <input type="text" name="PwdConfirm" placeholder="确认密码" autocomplete="off" class="form-control"
                                               data-val="true" data-val-equalto-other="Password" data-val-equalto="两次输入的密码不相同" />
                                        <span class="field-validation-valid" data-valmsg-for="PwdConfirm" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="submit" class="btn btn-primary">确认注册</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </form>
                    </div><!-- /.modal -->

                    <div class="modal fade" id="forgetPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <form action="@Url.Action("ForgetPwd")" method="post" role="form" id="forgetPwdForm">
                            @Html.AntiForgeryToken()
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">忘记密码</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>输入您的账号.</p>
                                        <input type="text" name="UserName" placeholder="账号" autocomplete="off" class="form-control" />
                                        <p>输入您的邮箱</p>
                                        <input type="text" name="Email" placeholder="邮箱" autocomplete="off" class="form-control" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary">找回密码</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </form>
                    </div><!-- /.modal -->

                </div>
            </div>
        </div>
        <footer class="navbar navbar-fixed-bottom text-center">
            <hr />
            <p>&copy; 2017 - lkWeb</p>
        </footer>*@


    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
